<div class="studentDetail">
  <h1 class="studentDetail__title">Thông tin học sinh</h1>
  <div class="studentDetail__content">
    <div class="studentDetail__item">
      <span class="studentDetail__item-span"> Họ tên: </span>
      <div class="studentDetail__item-info">{{ studentInfo?.name }}</div>
    </div>
    <div class="studentDetail__item">
      <span class="studentDetail__item-span">Địa chỉ: </span>
      <div class="studentDetail__item-info">{{ studentInfo?.address }}</div>
    </div>
    <div class="studentDetail__item">
      <span class="studentDetail__item-span">Giới tính: </span>
      <div class="studentDetail__item-info">{{ studentInfo?.gender }}</div>
    </div>
  </div>
</div>
